*{
    margin: 0;
    padding: 0;
    font-family: Choco, sans-serif;
}

@font-face {
    font-family: Choco;
    src: url("TT Chocolates Trial Regular.otf");
}

html{
    --background: #FBFEFD;
    --title: #208368;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    overflow-x: hidden;
}

h1{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
    font-size: 3rem;
    color: var(--title);
}

h2{
    color: var(--title);
}

#content{
    display: flex;
    width: 100vw;
}

#qcm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.section{
    width: 60vw;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    border-bottom: 2px solid black;
}

.section-title{
    font-size: 2rem;
    margin: 3vh 0;
}

.section-questions{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.question{
    margin-bottom: 3vh;
}

.question-title{
    font-size: 1.3rem;
    margin-bottom: 1.5vh;
}

.answers-item{
    padding: 0.3vh 0.4vw;
    margin: 0.3vh 0;
    border-radius: 0.6rem;
    width: fit-content;
}

.answers-item:hover{
    cursor: pointer;
}

.answers-item:not(.selected):hover{
    color: #2d663c;
}

.correct{
    background-color: #FFF;
}

#summary{
    width: 35vw;
    font-size: 1.5rem;
    margin-bottom: 5vh;
    padding: 3vh 3vw;
    border-radius: 0.6rem;
    border: 2px solid var(--title);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#summary button{
    border: none;
    background-color: transparent;
    transition: 0.2s;
    margin: .2vh 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#summary button:hover{
    padding-left: 0.3vw;
}

button{
    font-size: 1.4rem;
}

button:hover{
    cursor: pointer;
}

/* BUTTON UP */

#up{
    position: fixed;
    top: 92vh;
    left: 95vw;
    background-color: var(--title);
    border: none;
    border-radius: 100%;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#up img{
    width: 1.4vw;
}

#up:hover{
    background-color: #2ba584;
}

/* FLOATING ELEMENTS */

#floating-elements{
    position: fixed;
    bottom: 6vh;
    left: 4vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    transition: 0.2s;
}

/* BUTTONS */

.btn{
    background-color: var(--title);
    color: #FFF;
    border: none;
    padding: 0.8vh 0.6vw;
    border-radius: 0.6rem;
}

.btn img{
    width: 1vw;
    height: 1vw;
}

.btn:hover{
    background-color: #2ba584;
}

#legend{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 3vh;
}

.legend-line{
    display: flex;
    gap: 0.3vw;
}

.legend-color{
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
}

.title-score{
    font-size: 2rem;
    margin-left: 1vw;
}

#total-score{
    font-size: 3rem;
    margin-bottom: 3vh;
}

#answerer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 20vh;
    gap: 0.5vw;
    margin-bottom: 5vh;
}

#answerer-container{
    display: flex;
}

#answerer-input{
    padding: 1.2vh 1.2vw;
    font-size: 1.4rem;
    border: 2px solid var(--title);
    width: 40vw;
    border-radius: 0.5rem;
}

#answerer-btn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#answerer-btn img{
    border-radius: 1rem;
    width: 3vw;
    height: 3vw;
}

#answerer-answers{
    font-size: 1.4rem;
    width: 45vw;
}

.answerer-item{
    background-color: whitesmoke;
    border-left: 2px solid var(--title);
    padding: 2vh 2vw;
    margin: 4vh 0;
}

#slide-btn{
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    border: none;
    background-color: var(--title);
    color: var(--background);
    position: fixed;
    right: 3vw;
    top: 4vh;
}

.space{
    height: 4vh;
}

#randomizer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#randomizer-container{
    min-width: 40vw;
    min-height: 20vh;
    padding: 2vh 0;
    gap: 5vh;
    background-color: var(--background);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#randomizer-top{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

#randomizer-close{
    width: 1vw;
    height: 1vw;
    background-color: var(--background);
    border: none;    
}

#randomizer-question{
    width: 70%;
}

/* RESPONSIVE */

@media screen and (max-width: 1000px) {
    #summary{
        width: 90vw;
    }

    .section{
        width: 85vw;
    }

    #up{
        display: none;
    }

    #floating-elements{
        position: initial;
    }

    #answerer-container{
        width: 85vw;
    }

    #answerer-input{
        width: 100%;
    }

    #answerer-btn img{
        width: 10vw;
        height: 10vw;
    }

    #answerer-answers{
        width: 80vw;
    }
}